body {
    background-color: black;
    text-align: center;
    color: green;
    padding: 100px;
    border: 10px groove green;

    font-family: 'Gloria Hallelujah', cursive;
}



input {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
}

button {
    border: 5px double green;
    background-color: black;

    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-family: 'Gloria Hallelujah', cursive;
}

img {

    border: 5px solid yellow;
    width: 200px;
    height: 200px;
}


.pop-icon {
    width: 200px;
    border: 10px double green;
}

.buttonstart {
    text-align: center;
}

.screen2 {
    display: none;
}